<%= form_for @news_entry, :html => { :multipart => true } do |f| %>  
  <%= render "shared/error_messages", :target => @news_entry %>
  <%= render "shared/markdown_syntax_guide" %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>  
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 10 %>  
  </p>
  <p>  
    <%= f.submit %>  
  </p>
<% end %>